#!/usr/bin/env bash
set -euo pipefail

SOURCE_DIR="{{ .chezmoi.sourceDir }}"

echo "==> Checking for Ansible..."

if ! command -v ansible-playbook >/dev/null 2>&1; then
    echo "==> Installing Ansible..."
    sudo pacman -S --needed ansible --noconfirm
fi

echo "==> Installing Ansible collections..."
ansible-galaxy collection install -r "${SOURCE_DIR}/ansible/requirements.yml"

echo "==> Running Ansible..."

export ANSIBLE_CONFIG="${SOURCE_DIR}/ansible/ansible.cfg"
ansible-playbook -i localhost, -c local "${SOURCE_DIR}/ansible/site.yml" --ask-become-pass
